body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2358px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
}
#u10281 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:62px;
  width:375px;
  height:750px;
}
#u10281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
}
#u10282 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:62px;
  width:375px;
  height:750px;
}
#u10282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
}
#u10283 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:62px;
  width:375px;
  height:750px;
}
#u10283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
}
#u10284 {
  border-width:0px;
  position:absolute;
  left:1534px;
  top:62px;
  width:375px;
  height:750px;
}
#u10284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
}
#u10285 {
  border-width:0px;
  position:absolute;
  left:1983px;
  top:62px;
  width:375px;
  height:750px;
}
#u10285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
