body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:715px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:21px;
  width:694px;
  height:300px;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  text-align:left;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:30px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:0px;
  width:522px;
  height:30px;
  text-align:left;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:518px;
  word-wrap:break-word;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:0px;
  width:86px;
  height:30px;
  text-align:left;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:86px;
  height:30px;
  text-align:left;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:30px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:30px;
  width:522px;
  height:30px;
  text-align:left;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:518px;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:30px;
  width:86px;
  height:30px;
  text-align:left;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:86px;
  height:30px;
  text-align:left;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:30px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:60px;
  width:522px;
  height:30px;
  text-align:left;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:518px;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:60px;
  width:86px;
  height:30px;
  text-align:left;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:86px;
  height:30px;
  text-align:left;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:30px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:90px;
  width:522px;
  height:30px;
  text-align:left;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:518px;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:90px;
  width:86px;
  height:30px;
  text-align:left;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:86px;
  height:30px;
  text-align:left;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:30px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:120px;
  width:522px;
  height:30px;
  text-align:left;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:518px;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:120px;
  width:86px;
  height:30px;
  text-align:left;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:86px;
  height:30px;
  text-align:left;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:30px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:150px;
  width:522px;
  height:30px;
  text-align:left;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:518px;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:150px;
  width:86px;
  height:30px;
  text-align:left;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:86px;
  height:30px;
  text-align:left;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:30px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:180px;
  width:522px;
  height:30px;
  text-align:left;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:518px;
  word-wrap:break-word;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:180px;
  width:86px;
  height:30px;
  text-align:left;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:86px;
  height:30px;
  text-align:left;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:30px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:210px;
  width:522px;
  height:30px;
  text-align:left;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:518px;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:210px;
  width:86px;
  height:30px;
  text-align:left;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:86px;
  height:30px;
  text-align:left;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:30px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:240px;
  width:522px;
  height:30px;
  text-align:left;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:518px;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:240px;
  width:86px;
  height:30px;
  text-align:left;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:86px;
  height:30px;
  text-align:left;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:30px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:270px;
  width:522px;
  height:30px;
  text-align:left;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:518px;
  word-wrap:break-word;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:270px;
  width:86px;
  height:30px;
  text-align:left;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
