body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1745px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
}
#u10286 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:43px;
  width:375px;
  height:750px;
}
#u10286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1083px;
}
#u10287 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:43px;
  width:375px;
  height:1083px;
}
#u10287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:561px;
}
#u10289 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:43px;
  width:375px;
  height:561px;
}
#u10289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:325px;
}
#u10290 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:604px;
  width:375px;
  height:325px;
}
#u10290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
}
#u10291 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:929px;
  width:375px;
  height:603px;
}
#u10291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
}
#u10292 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:43px;
  width:375px;
  height:750px;
}
#u10292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
